# ─────────────────────────────
# POSTGRES DEFAULT
# Do not change — matches the Docker Compose service name and default port
# ─────────────────────────────
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# ─────────────────────────────
# POSTGRES (Airflow metadata DB)
# ─────────────────────────────
POSTGRES_AIRFLOW_USER=airflow
POSTGRES_AIRFLOW_PASSWORD=airflow
POSTGRES_AIRFLOW_DB=airflow

# ─────────────────────────────
# POSTGRES (e-commerce data)
# ─────────────────────────────
POSTGRES_ECOMMERCE_USER=ecommerce
POSTGRES_ECOMMERCE_PASSWORD=ecommerce
POSTGRES_ECOMMERCE_DB=ecommerce

# ─────────────────────────────
# AIRFLOW
# ─────────────────────────────
AIRFLOW_UID=5000
AIRFLOW_GID=0
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_EMAIL=your@email.com

# ─────────────────────────────
# BIGQUERY
# GCP_LOCATION: EU or US — must match your GCP project region
# ─────────────────────────────
GCP_PROJECT_ID=your_project_id
GCP_DATASET_INTERMEDIATE=ecommerce_intermediate
GCP_DATASET_MARTS=ecommerce_marts
GCP_LOCATION=EU

# ─────────────────────────────
# INGESTION LIMITS
# Max records fetched from DummyJSON API per entity
# ─────────────────────────────
LIMIT_USERS=208
LIMIT_PRODUCTS=194
LIMIT_CARTS=20

# ─────────────────────────────
# ENV
# ─────────────────────────────
HOST_UID=1000 # Run: id -u to get your UID
ENV=local
PROJECT_PATH=/home/your-username/projects/ecommerce-data-pipeline    # Run: pwd
GCP_ADC_PATH=/home/your-username/.config/gcloud       # Default gcloud ADC path

# ─────────────────────────────
# SMTP (for email alerts)
# ─────────────────────────────
AIRFLOW__SMTP__SMTP_HOST=smtp.gmail.com
AIRFLOW__SMTP__SMTP_PORT=587
AIRFLOW__SMTP__SMTP_USER=ton.email@gmail.com        # your Gmail address
AIRFLOW__SMTP__SMTP_PASSWORD=abcd efgh ijkl mnop    # app password generated
AIRFLOW__SMTP__SMTP_MAIL_FROM=ton.email@gmail.com   # same Gmail address